
      <div>
       <br/>
       <hr>
        <br/>
          
      </div>
      
      <section class="columns all-articles" >
       
        <!-- article list -->
        <section class="column is-two-thirds">
        <% @stories.each do |story| %>
          <article class="media">
            <div class="media-content">
              <h2 class="title is-4"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
              <p class="content"><%= strip_tags(story.content).truncate(200) %></p>
              <footer>
                <p> <%= link_to story.user.username, user_page_path(story.user.username), class: 'has-text-grey-dark' %> | <%= time_ago_in_words(story.created_at) %>
            </p>
              </footer>
            </div>
           <% if story.cover_image.attached? %>
            <figure class="media-right">
              <%= image_tag story.cover_image.variant(resize_to_limit: [150,150]) %>
            </figure>
            <% end %>

          </article>
          <% end %>

        </section>
        <!-- article list -->

    
      </section>