<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="app/assets/images/clock.png" />
    <title>Now</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <div class='container'>
    <%= render 'shared/frontend/navbar'%>
    <%= render 'shared/frontend/flash' if notice%>
     <%= yield %>
    </div>

  </body>
</html>
